<html>
	<body>
		
		<h1>  <b> LOJA </b> </h1>		
	
		<table id="capa">	   
		   
		   <tr>
		   	 <td style="width:100px"> <b> Numero: </b> </td>
		   	 <td>$pedido.id</td>
		   </tr>
		   
		   <tr>
		   	 <td> <b> Vendido Por: </b> </td>
		   	 <td>$pedido.vendedor.nome </td>
		   </tr>
		
			<tr>
		   	 <td> <b> Cliente:</b> </td>
		   	 <td>$pedido.cliente.nome </td>
		   </tr>
		   
		   <tr>
		   	 <td> <b>Valor Total: </b> </td>
		   	 <th>$numberTool.format("¤ #0.00",$pedido.valorTotal,$locale) </th>
		   </tr>
		  	
		
		</table>
	<table border="1" cellspacing="0" cellpadding="3" id="itens">
			<tr>
				<th>Produto </th>
				<th>Valor Unitario </th>
				<th>Quantidade </th>
				<th>Valor Total </th>
			</tr>
			
			#foreach($item in $pedido.itens)
				#if($item.produto.id)
				<tr>
					<th>$item.produto.nome </th>
					<th>$numberTool.format("¤ #0.00",$item.produto.valorUnitario,$locale) </th>
					<th>$item.quantidade </th>
					<th>$numberTool.format("¤ #0.00",$item.valorTotal,$locale) </th>
				</tr>
				#end
			#end
		
		</table>
		
		
		<h3> Dados da Compra </h3>
		<table id="entrega">	   
		   
		   <tr>
		   	 <td style="width:100px"> Forma de Pagamento: </td>
		   	 <td>$pedido.formaPagamento</td>
		   </tr>
		   
		   <tr>
		   	 <td> Data da Entrega: </td>
		   	 <td>$pedido.dataEntrega </td>
		   </tr>
		
			<tr>
		   	 <td> Cidade: </td>
		   	 <td>$pedido.enderecoEntrega.cidade </td>
		   </tr>
		   
		   <tr>
		   	 <td> Estado: </td>
		   	 <td>$pedido.enderecoEntrega.uf </td>
		   </tr>
		  	
		
		</table>
	
		
				
	
	</body>
</html>